/* 縦持ちタブレット・スマホ */
@media screen and (max-width: 900px) {
    #nav-menu.open {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    #nav-bg-overlay.open {
        visibility: visible;
        opacity: 0.5;
    }

    /*#nav-menu.open::before {
        visibility: visible;
        opacity: 1;
    }*/
}

label.menu-three-bar-btn > div.caption > span:nth-child(1), #nav-head.open label.menu-three-bar-btn > div.caption > span:nth-child(2) {
    visibility: visible;
    opacity: 1;
}

label.menu-three-bar-btn > div.caption > span:nth-child(2), #nav-head.open label.menu-three-bar-btn > div.caption > span:nth-child(1) {
    visibility: collapse;
    opacity: 0;
}

#nav-head.open label.menu-three-bar-btn > div.bars > span:nth-of-type(1) {
    opacity: 0;
}

#nav-head.open label.menu-three-bar-btn > div.bars > span:nth-of-type(2) {
    transform: skewY(45deg) translateY(-50%);
}

#nav-head.open label.menu-three-bar-btn > div.bars > span:nth-of-type(3) {
    transform: skewY(-45deg) translateY(50%);
}