/* 共通設定 */
:root {
    --bg-color: #fff;
    --font-color: #222;
    --nav-bar-bg-color: #333;
    --nav-bar-bg-hover-color: #373737;
    --nav-bar-btn-bg-color: #3C3C3C;
    --nav-bar-btn-bg-hover-color: #444;
    --theme-color: #3C6D3C;
    --theme-color-bright: #518451;

    --nav-width: calc(420px - (1920px - 100vw) / 720 * 80);
    
    --nav-head-height: 3rem;
    --nav-menu-btn-height: 3.2rem;

    --bg-h1-font-size: 4.5rem;
    --bg-h1-color: #EFEFEF;
}

html {
    width: 100%;
    height: 100%;
    font-size: 130%;
}

@media screen and (max-width: 2500px) {
    html {
        font-size: 110%;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 85%;
    }
}

body {
    background-color: var(--bg-color);
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    font-weight: 500;
}

/* nav-bar: PC・タブレット:サイドバー・スマホ:ヘッダー */
/* PC */
#all-wrapper {
    display: grid;
    grid-template-columns: var(--nav-width) auto;
    grid-template-areas:
    "nav-head container"
    "nav-menu container";
    position: relative;
    overflow-x: hidden;
}

nav {
    background-color: var(--nav-bar-bg-color);
    color: #fff;
    position: fixed;
}

#nav-head {
    grid-area: nav-head;
    height: var(--nav-head-height);
    top: 0;
    width: var(--nav-width);
    z-index: 30000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar-title {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    
    transition: background-color .25s ease-in-out;
}

#nav-bar-title:hover {
    background-color: var(--nav-bar-btn-bg-color);
}

#nav-bar-title > div {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

#nav-menu {
    grid-area: nav-menu;
    height: calc(100% - var(--nav-head-height));
    bottom: 0;
    width: var(--nav-width);
    z-index: 100;
    font-size: 1.1rem;
}

#nav-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu > ul > li {
    display: block;
    height: var(--nav-menu-btn-height);
    background-color: var(--nav-bar-btn-bg-color);
    border-bottom: 2px solid var(--nav-bar-bg-color);
    line-height: var(--nav-menu-btn-height);
    padding-left: 3rem;
    transition: background-color .25s ease-in-out;
}

#nav-menu > ul > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#nav-menu > ul > li:hover {
    background-color: var(--nav-bar-btn-bg-hover-color);
}

#container {
    grid-area: container;
}


#nav-head > label.menu-three-bar-btn {
    display: none;
}

/* 縦持ちタブレット・スマホ */
@media screen and (max-width: 900px) {
    #all-wrapper {
        grid-template-columns: auto;
        grid-template-rows: var(--nav-head-height) auto;
        grid-template-areas:
        "nav-head"
        "container";
    }

    #nav-head {
        width: 100%;
        position: fixed;
        transition: background-color .25s ease-in-out;
    }

    #nav-bar-title:hover {
        background-color: var(--nav-bar-bg-color);
    }

    
    #nav-menu {
        position: fixed;
        right: 0;
        transition: .25s ease-in-out;
        visibility: collapse;
        opacity: 0;
        transform: translateX(100%);
        z-index: 20000;
        padding-top: var(--nav-head-height);
    }

    #nav-menu > ul > li:hover {
        background-color: var(--nav-bar-btn-bg-color);
    }

    /*#nav-menu::before {
        position: fixed;
        content: "";
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .25s ease-in-out;
        visibility: collapse;
        opacity: 0;
        z-index: 5000;
    }*/
    
    #nav-head > label.menu-three-bar-btn {
        display: block;
        margin-right: 1rem;
    }

    #all-wrapper:has(label.menu-three-bar-btn > input[type=checkbox]:checked) #nav-menu {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    /*#all-wrapper:has(label.menu-three-bar-btn > input[type=checkbox]:checked) #nav-menu::before {
        visibility: visible;
        opacity: 1;
    }*/
}

/* footer */
footer {
    position: relative;
    padding: 0.5rem 4rem;
    font-size: 0.65rem;
}

footer .line {
    display: block;
}

footer .line::before, footer .line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--nav-bar-bg-color);
}

footer .line::after {
    display: none;
}

footer .line .logo {
    margin: 0.15rem 0;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

#sns {
    padding: 0.5rem 0;
}

#sns > .icons {
    display: flex;
    justify-content: center;
    gap: 0 1.5rem;
}

#sns > .icons > a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

#sns > .icons > a > img {
    width: 100%;
    height: 100%;
}

#copyright {
    text-align: right;
    margin: 0.25rem 0;
}

#copyright span {
    display: inline-block;
}

#copyright > span:nth-child(n+2) {
    margin-left: 0.4rem;
}

#copyright > span > span:nth-child(n+2) {
    margin-left: 0.2rem;
}

@media screen and (max-width: 1200px) {
    footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    footer .footer-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 900px) {
    footer .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .line::before, footer .line::after {
        display: block;
    }

    footer .line .logo {
        margin: 0 1rem;
    }

    footer .footer-container {
        justify-content: center;
        flex-direction: column;
    }

    #copyright {
        text-align: center;
    }
}



a.btn-simple {
    display: inline-block;
    background-color: var(--theme-color);
    padding: 0 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.25rem;
    transition: background-color .25s ease-in-out;
}

a.btn-simple:hover {
    background-color: var(--theme-color-bright);
}

a.internal-link {
    display: inline-block;
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    transition: color .25s ease-in-out;
    display: flex;
    align-items: center;
}

a.internal-link::after {
    content: "";
    margin-left: 0.3rem;
    margin-right: 0.5rem;
    width: 0.4rem;
    height: 0.4rem;
    border: calc(0.4rem / 6) solid;
    border-color: var(--font-color) var(--font-color) transparent transparent;
    transform: rotate(45deg) translateY(-0.1rem);
    transition: 0.15s ease-out;
}

a.internal-link:hover {
    color: var(--theme-color);
}

a.internal-link:hover::after {
    margin-left: 0.55rem;
    margin-right: 0.25rem;
    border-color: var(--theme-color) var(--theme-color) transparent transparent;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    height: 1.76rem;
    line-height: 1.76rem;
    padding-left: 0.7rem;
}

.logo > .year {
    position: absolute;
    top: 0;
    left: 0.64rem;
    font-size: calc(1.76rem / 3);
    transform-origin: 50% 50%;
    transform: rotate(-90deg) translateY(-0.96rem);
}

.logo > .name {
    font-size: 1.6rem;
    font-weight: 900;
}

label.menu-three-bar-btn {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.menu-three-bar-btn >  input[type=checkbox] {
    display: none; /* チェックボックスを非表示にする */
}

label.menu-three-bar-btn {
    position: relative;
}

label.menu-three-bar-btn > span {
    position: absolute;
    left: 0;
    display: inline-block;
    transition: .25s ease-in-out;
    content: "";
    height: 0.1rem;
    width: 100%;
    background-color: #fff;
    transform-origin: left center;
    transform: none;
    opacity: 1;
}

label.menu-three-bar-btn > span:nth-of-type(1) {
    top: 50%;
}

label.menu-three-bar-btn > span:nth-of-type(2) {
    top: 0;
}

label.menu-three-bar-btn > span:nth-of-type(3) {
    bottom: 0;
}

label.menu-three-bar-btn:has(> input[type=checkbox]:checked) > span:nth-of-type(1) {
    opacity: 0;
}

label.menu-three-bar-btn:has(> input[type=checkbox]:checked) > span:nth-of-type(2) {
    transform: skewY(45deg) translateY(-50%);
}

label.menu-three-bar-btn:has(> input[type=checkbox]:checked) > span:nth-of-type(3) {
    transform: skewY(-45deg) translateY(50%);
}



h1 {
    font-size: 1.7rem;
    margin: 0;
    padding: 2rem 0;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0.8rem 0;
    /*margin-top: 2rem;*/
}

#content {
    padding: 0 5rem;
    position: relative;
}

@media screen and (max-width: 1200px) {
    #content {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 900px) {
    #content {
        padding: 0 2rem;
    }
}

#content > div {
    padding-bottom: 3rem;
}

div.article {
    padding-top: 2rem;
}

div.article > :first-child {
    padding-top: 0;
    margin-top: 0;
}

#content > div > :not(div.bg-h1) {
    position: relative;
    z-index: 5;
}

div.bg-h1 {
    display: inline-block;
    position: absolute;
    top: calc(1rem + 1.5rem);

    font-size: var(--bg-h1-font-size);
    font-weight: bold;
    cursor: default;
    pointer-events: none;
    z-index: 0;
    white-space: nowrap;

    color: var(--bg-h1-color);

    left: 1rem;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);

    opacity: 0.5;
}

ul.topic-path {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

ul.topic-path > li {
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
}

ul.topic-path > li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    border: calc(0.3rem / 6) solid;
    border-color: var(--font-color) var(--font-color) transparent transparent;
    transform: rotate(45deg);
    margin: 0 0.8rem;
}

ul.topic-path > li > a {
    text-decoration: none;
    color: var(--font-color);
    transition: 0.25s ease-in-out;
}

ul.topic-path > li > a:hover {
    color: var(--theme-color);
}