:root {
    --header-height: 8rem;
    --news-height: 20rem;
    --key-visual-height: calc(100vh - var(--header-height) - var(--news-height));

    --content-even-bg-color: #F5F5F5;
    --content-odd-bg-h1-color: #EFEFEF;

    --bg-h1-font-size: 4.5rem;
}

/*@media screen and (max-width: 2500px) {
    :root {
        --news-height: 20rem;
    }
}*/

a.btn-simple {
    display: inline-block;
    background-color: var(--theme-color);
    padding: 0 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.25rem;
    transition: background-color .25s ease-in-out;
}

a.btn-simple:hover {
    background-color: var(--theme-color-bright);
}

header {
    height: var(--header-height);
    background: linear-gradient(#4C834C, #264226);
    display: grid;
    grid-template-columns: auto 4rem auto 1rem auto;
    grid-template-areas: "title . date . detail";
    padding: 0 4rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

header > .title {
    justify-self: start;
    grid-area: title;
    display: grid;
    grid-template-rows: 1.6rem 3.8rem;
}

header > .title > .upper {
    display: flex;
    justify-content: space-between;
}

header > .title > .upper > .year {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: #fff;
}

header > .title > .upper > .format {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 1.6rem;
    font-weight: bold;
    background-color: #fff;
    color: var(--theme-color);
    padding: 0 4rem;
}

header > .title > .name {
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: bold;
}
/*
header > info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    height: 5rem;
}*/

header > .date {
    grid-area: date;
    width: 7rem;
    height: 4.4rem;
    position: relative;
}

header > .date > .month {
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
}

header > .date > .month::after {
    content: "/";
    font-size: 1.6rem;
    line-height: 1.6rem;
    position: absolute;
    top: 1.1rem;
    left: 1.7rem;
}

header > .date > .day {
    position: absolute;
    font-size: 2.8rem;
    line-height: 2.8rem;
    bottom: 0;
    left: 2.8rem;
}

header > .date > .weekday {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0.25rem;
    left: 5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    color: var(--theme-color);
}

header > .detail {
    grid-area: detail;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0 2rem;
}

header > .detail > div {
    padding-left: 1.8rem;
    position: relative;
    display: flex;
    align-items: center;
}

header > .detail > div::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
}

header > .detail > div.time::before {
    background: url(/img/time.svg) 0% 50% no-repeat;
}

header > .detail > div.place::before {
    background: url(/img/place.svg) 0% 50% no-repeat;
}

@media screen and (max-width: 1900px) {
    header {
        grid-template-columns: auto 1rem auto 1rem auto;
        grid-template-areas:
        "title . date date date"
        "detail detail detail detail detail";
    }

    header > .detail {
        flex-direction: row;
    }

    header > .date {
        justify-self: end;
    }

    header > .title {
        grid-area: title;
        display: grid;
        grid-template-rows: 1.6rem 3rem;
    }

    header > .title > .name {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1200px) {
    header > .detail {
        font-size: 1.1rem;
    }
}

#key-visual {
    position: relative;
    height: var(--key-visual-height);
    width: 100%;
    overflow: hidden;
}

#key-visual::before {
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(30, 30, 30, 0.4);
    z-index: 30;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(#111 30%, transparent 30%);
    background-size: 0.15rem 0.15rem;
}

#key-visual-player {
    position: absolute;
    min-width: 110vw;
    min-height: calc(110vw * 9 / 16);
    left: -10vw;
    top: calc(var(--key-visual-height) / 2 - calc(110vw * 9 / 16 / 2));
    border: none;
}

#key-visual-img-slideshow {
    width: 100%;
    height: 100%;
}

#key-visual-img-slideshow > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#news {
    height: var(--news-height);
}

h1 {
    font-size: 1.7rem;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    padding: 1.2rem 0;
}

#content > div {
    position: relative;
}

#content > div:not(#news) {
    padding-bottom: 2.5rem;
}

#content > div:nth-child(2n+1) {
    background-color: var(--bg-color);
}

#content > div:nth-child(2n+1) > div.article {
    padding-left: 8.5rem;
    padding-right: 3.5rem;
}

#content > div:nth-child(2n) {
    background-color: var(--content-even-bg-color);
}

#content > div:nth-child(2n) > div.article {
    padding-left: 4.5rem;
    padding-right: 7.5rem;
}

#content > div:nth-child(2n+1) > div.bg-h1 {
    color: var(--content-odd-bg-h1-color);
    left: 1rem;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
}

#content > div:nth-child(2n) > div.bg-h1 {
    color: #fff;
    right: 1rem;
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100%);
}

#content > div > div.bg-h1 {
    display: inline-block;
    position: absolute;
    top: calc(1rem + 1.5rem);

    font-size: var(--bg-h1-font-size);
    font-weight: bold;
    cursor: default;
    pointer-events: none;
    z-index: 0;
}

#content > div > :not(div.bg-h1) {
    position: relative;
    z-index: 5;
}

#news-list-container-index {

}

#news > h1 {
    padding: 1.25rem 0 0.75rem;
}

#about p {
    line-height: 1.8rem;
}

#access-wrapper {
    display: flex;
    justify-content: space-between;
}

#access-wrapper > .text-container {
    width: 24rem;
}

#access-wrapper > .text-container > div.place {
    font-weight: bold;
    font-size: 1.25rem;
}

#access-wrapper > .text-container > p.address {
    margin-top: 0.25rem;
}

#access-wrapper > .text-container > p.station > span {
    font-weight: bold;
}

#access-wrapper > .map-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#access-wrapper > .map-container > iframe {
    /*width: 600px;
    height: 450px;*/
    width: 100%;
    height: 100%;
    border: none;
}