div.robot-id {
    font-size: 0.8rem;
}

h2 {
    font-weight: 500;
    padding: 0;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 500;
}

#robot-detail-wrapper {
    display: grid;
    grid-template-columns: min(50%, 23rem) 2rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "robot-title . robot-img"
    "robot-detail . robot-img";
}

#robot-title-container {
    grid-area: robot-title;
}

#robot-detail-container {
    grid-area: robot-detail;
}

#robot-img-container {
    grid-area: robot-img;
}

@media screen and (max-width: 900px) {
    #robot-detail-wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "robot-title"
        "robot-detail"
        "robot-img";
    }

    #robot-img-container {
        margin-top: 1rem;
    }
}

#robot-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

div.robot-detail-table {
    width: 22rem;
    font-size: 0.8rem;
    margin: 1rem 0;
}

dl.robot-detail-table-row {
    display: flex;
    border-bottom: solid 1px #ccc;
    margin: 0;
}

dl.robot-detail-table-row:nth-child(1) {
    border-top: solid 1px #ccc;
}

dl.robot-detail-table-row dt, dl.robot-detail-table-row dd {
    padding: 0.5rem 0;
}

dl.robot-detail-table-row dt {
    font-weight: bold;
    width: 4rem;
    margin-right: 0.4rem;
}

div.accordion-wrapper.smaller {
    font-size: 0.8rem;
}

div.accordion-wrapper.smaller label.accordion-btn > div::before, div.accordion-wrapper.smaller label.accordion-btn > div::after {
    width: 0.6rem;
}

div.accordion-wrapper.smaller div.accordion-content.point-detail div.robot-detail-table {
    width: 30rem;
    display: flex;
    flex-direction: column;
}

div.accordion-wrapper.smaller div.accordion-content.point-detail div.robot-detail-table dl.robot-detail-table-row dt {
    width: 15rem;
}

div.accordion-wrapper.smaller div.accordion-content.point-detail div.robot-detail-table dl.robot-detail-table-row dt > span {
    font-weight: 500;
    display: block;
}

div.accordion-wrapper.smaller div.accordion-content.point-detail div.robot-detail-table dl.robot-detail-table-row.bonus {
    order: -1;
    border-top: 1px solid #ccc;
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    div.robot-detail-table, div.accordion-wrapper.smaller div.accordion-content.point-detail div.robot-detail-table {
        margin: 1rem calc(-1 * var(--padding-x));
        width: 100vw;
    }

    div.accordion-wrapper > div.point-detail.accordion-content {
        margin: 0.5rem calc(-1 * var(--padding-x));
        padding: 0 var(--padding-x);
    }

    div.robot-detail-table dt, div.robot-detail-table dd {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div.robot-detail-table dt {
        background-color: var(--light-gray-bg);
    }

    div.robot-detail-table dd {
        margin-inline-start: 0;
    }
}