div.robot-id {
    font-size: 0.8rem;
}

h2 {
    font-weight: 500;
    padding: 0;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 500;
}

div.robot-detail-table {
    width: 22rem;
    font-size: 0.8rem;
    margin: 1rem 0;
}

dl.robot-detail-table-row {
    display: flex;
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 0.5rem 0;
}

dl.robot-detail-table-row:nth-child(1) {
    border-top: solid 1px #ccc;
}

dl.robot-detail-table-row dt {
    font-weight: bold;
    width: 4rem;
    margin-right: 0.4rem;
}

div.score > div.accordion-wrapper {
    font-size: 0.8rem;
}

div.score > div.accordion-wrapper label.accordion-btn > div::before, div.score > div.accordion-wrapper label.accordion-btn > div::after {
    width: 0.6rem;
}

div.score > div.accordion-wrapper div.robot-detail-table.point-detail {
    width: 30rem;
}

div.score > div.accordion-wrapper div.robot-detail-table.point-detail dl.robot-detail-table-row dt {
    width: 15rem;
}

div.score > div.accordion-wrapper div.robot-detail-table.point-detail dl.robot-detail-table-row dt > span {
    font-weight: 500;
    display: block;
}