/* 共通設定 */
:root {
    --bg-color: #fdfdfd;
    --font-color: #222;
    --nav-bar-bg-color: #333333;
}

body {
    background-color: var(--bg-color);
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 22px;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

/* nav-bar: PC:サイドバー・タブレット/スマホ:ヘッダー */
/* PC */
#all-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "nav-head container"
    "nav-menu container"
    "nav-menu footer";
}

nav {
    background-color: var(--nav-bar-bg-color);
    color: #fff;
}

#nav-head {
    grid-area: nav-head;
}

#nav-menu {
    grid-area: nav-menu;
}

#container {
    grid-area: container;
}

/* スマホ */
@media screen and (max-width: 1200px) {
    #all-wrapper {
    }
}