<div class = "text-container">
    <!--<div class = "place">
        渋谷教育学園渋谷中学高等学校<br>
        6階 理科室3
    </div>
    <p class = "address">
        〒150-0002<br>
        東京都渋谷区渋谷1丁目21-18
    </p>
    <p class = "station">
        <span>渋谷駅からお越しの方</span><br>
        東急・東京メトロ B1出口から徒歩7分<br>
        JR ハチ公改札口・南改札口から徒歩15分<br>
        京王井の頭線 中央口から徒歩20分
    </p>
    <p class = "station">
        <span>明治神宮前＜原宿＞駅からお越しの方</span><br>
        東京メトロ 4番・7番出口から徒歩15分
    </p>
    <p class = "station">
        <span>原宿駅からお越しの方</span><br>
        JR山手線 東口から徒歩25分
    </p>-->
</div>
<div class = "map-container">
    <iframe src="" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>