<div class = "line">
    <div class = "logo"></div>
</div>
<div class = "footer-container">
    <div id = "sns">
        <div class = "icons">
            <a href = "https://twitter.com/shibu2rikabu" target = "_blank"><img src = "/img/sns-icon/twitter.svg"></a>
            <a href = "https://www.youtube.com/@user-tb8bu4vu6v/" target = "_blank"><img src = "/img/sns-icon/youtube.svg"></a>
        </div>
    </div>
    <p id = "copyright"><span><span>Copyright © 2023 -</span><span>渋谷教育学園渋谷中学高等学校</span><span>理科部ロボコン班</span></span><span>All Rights Reserved.</span></p>
</div>