<ul>
    <li><a href = "/#about" class = "about">やさしいロボコンとは</a></li>
    <li><a href = "/#detail" class = "detail">開催要項</a></li>
    <li><a href = "/#application" class = "application">出場・観覧申し込み</a></li>
    <li id = "record"><a href = "/record/" class = "record">競技記録</a></li>
    <!--<li><a href = "/past/" class = "about">過去大会情報</a></li>-->
    <li><a href = "/#access" class = "access">アクセス</a></li>
    <li><a href = "https://shibu2rikabu.mystrikingly.com/" target = "_blank" class = "external">渋渋理科部HP</a></li>
</ul>